<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tv News</title>
	</head>

	<body>
		<h1>Tv News</h1>
		<button id="all">all</button>
		<button id="one">one</button>
		<input type="number" id="oneValue" value="1">

		<main id="content"></main>

		<script type="text/javascript">
			let all = document.getElementById('all');
			let one = document.getElementById('one');
			let oneValue = document.getElementById('oneValue');
			let content = document.getElementById('content');

			function createTable(tableData, content) {
				let table = document.createElement('table');
				let tableBody = document.createElement('tbody');

				tableData.forEach(rowData => {
					let row = document.createElement('tr');

					rowData.forEach(cellData => {
						let cell = document.createElement('td');
						cell.appendChild(document.createTextNode(cellData));
						row.appendChild(cell);
					});

					tableBody.appendChild(row);
				});

				table.appendChild(tableBody);
				content.appendChild(table);
			}

			all.addEventListener('click', () => {
				fetch('/news/all').then(response => {
					return response.json();
				}).then(json => {
					content.innerHTML = '';
					createTable(json, content);
				});
			});

			one.addEventListener('click', () => {
				fetch('/news/' + oneValue.value).then(response => {
					return response.json();
				}).then(json => {
					content.innerHTML = '';
					createTable(json, content);
				});
			});
			
		</script>
	</body>
</html>